# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

last1/Debug
last1/last1/Debug

MathLibrary/Debug
MathLibrary/MathLibrary/Debug

MathClient/Debug
MathClient/MathClient/Debug
